<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurosaswatraj.tasktimer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskTimer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TaskTimer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<!--        Register up your Content Provider Here!-->
        <provider
            android:authorities="com.aurosaswatraj.tasktimer.provider"
            android:name="com.aurosaswatraj.tasktimer.AppProvider"

            android:exported="false"
            ></provider>
<!--        Exported stands for can the content provider be accessed by other applications.,.!-->
<!--        Other options for provider:https://developer.android.com/guide/topics/manifest/provider-element -->
    </application>

</manifest>